{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block styles %}
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}


    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
