{% extends "base.html.twig" %}
{% block body %}
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        {% block fos_user_content %}
        {% include "@FOSUser/Registration/register_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
</section>


{% endblock %}
