{% extends 'back.html.twig' %}
{% block body %}
    {{ parent() }}
    <!DOCTYPE html>
    <html>
    <head>
    </head>
<body>
<section class="content">
    <div id="div_chart"></div>
</section>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw(bar, 'div_chart') }}
</script>
</body>
</html>
{% endblock %}